@import 'fonts.css';

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main-title {
  background-color: #1a1a1a;
  font-size: 2.1875rem;
  letter-spacing: 1.94px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
}

.main-title span:first-of-type {
  color: #fff;
  font-family: 'Freshca';
}

.main-title span:nth-of-type(2) {
  color: #ff0057;
  font-family: 'Freshca';
}

.main-title .sub-title {
  color: #828282;
  font-size: .875rem;
  letter-spacing: 1px;
  margin: 5px auto;
  text-align: center;
}

.btn {
  border: none;
  cursor:pointer;
  font-size: .875rem;
  padding: 10px 20px;
  text-transform: capitalize;
  transition: all ease-in-out .25s;
}

.btn:hover {
  background-color: rgb(130, 130, 130);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  transition: all ease-in-out .25s;
}

.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background-color:#ff0057;
  color: #fff;
}

.btn.btn-primary:hover {
  background-color: #d2034a;
}

.btn.btn-primary:focus {
  outline: 1px dotted #ff0057;
}

.status-text {
  background: #353535;
  color: #828282;
  font-size: .875rem;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

footer {
  margin: 20px auto;
  text-align: center;
}

footer p {
  color: #828282;
  font-size: .875rem;
  margin: 0;
}
