#timetravel-wrapper {
  background: #262626;
  color: #fff;
  margin: 0;
}

/* --- Crypto Card --- */
.tt-card {
  background: #1a1a1a;
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
  margin: 20px 10px;
  padding: 10px;
}

/* --- Time Input Controls --- */
.cee-time-input {
  display: block;
  padding: 0.375rem 0;
  font-size: 2.1875rem;
  line-height: 1.5;
  color: #f2f2f2;
  background-color: #2f2f2f;
  background-clip: padding-box;
  border: 1px solid #2f2f2f;
  border-radius: 0;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.cee-time-input:hover {
  border-color: #5a5a5a;
}

.cee-time-input:focus {
  border-color: #5a5a5a;
  outline: 0;
  box-shadow: none;
}

.cee-time-input::placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  font-weight: 300;
  opacity: 1;
 /* Firefox */
}

.cee-time-input:-ms-input-placeholder {
 /* Internet Explorer 10-11 */
  color: #bbb;
}

.cee-time-input::-ms-input-placeholder {
 /* Microsoft Edge */
  color: #bbb;
}

.cee-time-input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.cee-time-input:disabled:hover {
  border-color: #ced4da;
}

.cee-zone-select {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 24 24'><path fill='#5b5b5b' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  height: 60px;
  line-height: 1.5;
  padding: .5rem 1rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* --- Result --- */
.close-result {
  text-align: right;
}

.close-result a {
  color: #828282;
  cursor: pointer;
  font-size: .857rem;
  letter-spacing: 3.43px;
  transition: all 0.15s ease-in-out;
}

.close-result a:hover {
  color: #efefef;
  transition: all 0.15s ease-in-out;
}
